.form {
  margin: 0px auto;
  max-width: 500px;
  box-shadow: 0px 3px 19px #0000000D;
  background-color: rgb(255, 202, 24);
  .label {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 16px;
    color: black;
    text-decoration: underline;
    background-color: rgb(255, 202, 24);
  }
}

h2 {
  font-family: 'Bitter';
  font-weight: bold;
  font-size: 38px;
  color: black;
  text-decoration: underline;
}

.form-bottom-p {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 16px;
  color: black;
}
// .form-link {
//   color: #ff4436;
//   text-decoration: underline;
// }
