<nav *ngIf="!currentUser && router.isActive('/home', true)"  class="navbar navbar-expand">
  <img src="./../../assets/images/Buzzle.png" alt="logo" width="80px" height="80px" [routerLink]="['/home']">
  <a class="navbar-brand" [routerLink]="['/home']">Hive</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mt-2">
        <a class="nav-link" [routerLink]="['/login']">
          <button class="btn btn-outline-primary btn-navbar">Sign In
              <fa-icon [icon]="['fas', 'sign-in-alt']" size="sm"></fa-icon>
          </button>
        </a>

    </ul>
  </div>
</nav>

<nav *ngIf="currentUser && router.isActive('/home', true)"  class="navbar navbar-expand">
  <img src="./../../assets/images/Buzzle.png" alt="logo" width="80px" height="80px" [routerLink]="['/home']">
  <a class="navbar-brand" [routerLink]="['/home']">Hive</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active mt-2 d-none d-md-block">
        <a class="nav-link text-uppercase">
            Hi, {{currentUser.userName}}!
        </a>
    </li>
    <li class="nav-item mt-3 dropdown">
      <button class="btn btn-outline-primary btn-navbar" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Quick Links <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">View Inventory</a>
        <a class="dropdown-item" href="#">Service</a>
        <a class="dropdown-item" href="#">Appointments</a>
        <a class="dropdown-item" href="#">Profile</a>
      </div>
    </li>

    </ul>
  </div>
</nav>

<nav *ngIf="router.isActive('/login', true)"  class="navbar navbar-expand">
  <img src="./../../assets/images/Buzzle.png" alt="logo" width="80px" height="80px" [routerLink]="['/home']">
  <a class="navbar-brand" [routerLink]="['/home']">Hive</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mt-2">
        <a class="nav-link" [routerLink]="['/home']">
          <button class="btn btn-outline-primary btn-navbar">Back
              <fa-icon [icon]="['fas', 'arrow-left']" size="sm"></fa-icon>
          </button>
        </a>
    </ul>
  </div>
</nav>

<nav *ngIf="router.isActive('/signup', true)"  class="navbar navbar-expand">
  <img src="./../../assets/images/Buzzle.png" alt="logo" width="80px" height="80px" [routerLink]="['/home']">
  <a class="navbar-brand" [routerLink]="['/home']">Hive</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mt-2">
        <a class="nav-link" [routerLink]="['/home']">
          <button class="btn btn-outline-primary btn-navbar">Back
              <fa-icon [icon]="['fas', 'arrow-left']" size="sm"></fa-icon>
          </button>
        </a>
    </ul>
  </div>
</nav>

<nav *ngIf="router.isActive('/inventory', true)"  class="navbar navbar-expand">
  <img src="./../../assets/images/Buzzle.png" alt="logo" width="80px" height="80px" [routerLink]="['/home']">
  <a class="navbar-brand" [routerLink]="['/home']">Hive</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mt-2">
        <a class="nav-link" [routerLink]="['/home']">
          <button class="btn btn-outline-primary btn-navbar">Back
              <fa-icon [icon]="['fas', 'arrow-left']" size="sm"></fa-icon>
          </button>
        </a>
    </ul>
  </div>
</nav>



