<nav class="navbar navbar-expand">
    <a class="navbar-brand" href="#">AutoLink</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mt-2">
          <a class="nav-link" href="#">
            <button class="btn btn-outline-primary btn-navbar">Sign In
                <fa-icon [icon]="['fas','SignInAlt']" size="sm" class="text-flix-red"></fa-icon>
            </button>
          </a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="#"><button class="btn btn-outline-primary btn-navbar">Admin
            <fa-icon [icon]="['fas', '']" size="sm" class="Admin"></fa-icon>
        </button></a>
        </li>

      </ul>
    </div>
  </nav>
