<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">AutoLink Inventory System</h1>
    <p class="lead">The premiere Inventory management system, specifically tailored with your dealership in mind.</p>
  </div>
</div>

<div id="carouselSlides" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval=10000>
        <img src="./../../assets/images/fxslide1.jpg" class="d-block w-100" alt="Carousel1">
    </div>
    <div class="carousel-item" data-interval=10000>
      <img src="./../../assets/images/mechanic.jpg" class="d-block w-100" alt="Carousel2">
    </div>
    <div class="carousel-item" data-interval=10000>
      <img src="./../../assets/images/cars.jpg" class="d-block w-100" alt="Carousel3">
    </div>
  </div>
</div>
